[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/MeiK2333/github-style
[submodule "themes/tailwind"]
	path = themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
[submodule "themes/hugo-theme-tailwind"]
	path = themes/hugo-theme-tailwind
	url = https://github.com/eyeofparadox/hugo-theme-tailwind
